@model BlogViewModel

<div class="row">
    <div class="col-4">
        <div class="form-group">
            <label>Başlık</label>
            @Html.TextBoxFor(x => x.Title)
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label>Yazı</label>
            @Html.TextBoxFor(x => x.Article)
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label>Kategoriler</label>
            @Html.TextBoxFor(x => x.Title)
        </div>
    </div>
</div>